/* http://paletton.com/#uid=13L0u0kbRt14+E48dwffUpTkImm */
h1, h2, h3, h4, h5, h6, kbd {
  color: #464646;
}
a {
  color: #324777;
}
.sidebar {
  background: #A8B0C3;
}
.sidebar .pure-menu-link, .site-title {
  color: #464646;
}
.footer>small, .footer>hr, .footer>small>a {
  color: #9EABB3;
}
.footer hr {
  color: #9EABB3;
  background-color: #9EABB3;
}

pre {
  padding: 0.4em;
  background-color: #EBEDF1;
  border-radius: 0.4em;
}
p>code:after , p>code:before, li>code:after , li>code:before {
  content: '"';
}

.content dd {
  margin-bottom: 0.7em;
}

kbd {
  border: 1px solid #464646;
  border-radius: 0.3em;
  padding: 0 0.2em;
  box-shadow: 0.1em 0.1em 0.1em #A8B0C3;
}

blockquote {
  border-left: 4px solid #EBEDF1;
  font-style: italic;
  margin: 2em 1em;
  padding-left: 1em;
}

/* layout */
body {
  min-width: 12em;
}
.sidebar {
  text-align: center;
}
.footer hr {
  margin: 0 3em;
  border: none;
  height: 1px;
}
.footer small {
  display: inline-block;
  margin: 0 3.7em;
  padding: 2em 0;
}
.content article, .content section {
  margin: 4em 3em;
}
@media screen and (max-width: 47.99em) {
  .sidebar {
    border-bottom: 0.1em solid #000;
  }
  .pure-menu-item {
    width: 30%;
    display: inline-block;
  }
}
@media screen and (min-width: 48em) {
  .content {
    min-height: 36em;
  }
  .sidebar {
    position: fixed;
    top:0;
    bottom:0;
    border: 0;
    border-right: 0.1em solid #000;
  }
  .footer, .content {
    margin-left: 25%;
  }
  .sidebar .logo {
    width: 6em;
    margin: 1em;
    margin-top: 3em;
    display: inline-block;
  }
}

/* print css */
@media print {
  .sidebar {
    display: none;
  }
  .content {
    display: block;
  }
  .content article, .content section {
    margin: 0;
  }
  h2, h3 {
    page-break-after: avoid;
  }
  blockquote, pre, ul, ol, img {
    page-break-inside: avoid;
  }
  @page {
    margin: 1cm;
  }
  footer a:after {
    content:" ("attr(href) ")";
  }
}
