<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title>Floating Octothorpe: Writing custom Pelican themes</title>

  <meta charset="utf-8" />
  <meta name="Author" content="Floating Octothorpe" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" type="image/png" href="/img/favicon.png" />
</head>
<body>
  <header>
    <a href="/"><img class="logo" src="/img/logo.png" alt="Floating Octothorpe logo"/></a>
    <h1 class="site-title">Floating Octothorpe</h1>
    <nav>
      <ul>
        <li><a href="/">Latest</a></li>
        <li><a href="/archive.html">Archive</a></li>
        <li><a href="/about.html">About</a></li>
      </ul>
    </nav>
  </header>
  <article>
<h1>Writing custom Pelican themes</h1>

<time datetime="2017-12-08">08 December 2017</time>

<p>The built in configuration options in <a href="https://blog.getpelican.com/">Pelican</a> are fairly
flexible, however Pelican can also be extended using custom themes. Following
on from the <a href="/2017/working-with-pelican.html">previous post</a>, this post is going to look at
writing a simple custom theme for Pelican.</p>
<h2>Using themes</h2>
<p>By default Pelican uses the <code>notmyidea</code> theme, however it also ships with a
<code>simple</code> theme. Both themes can be found in the <a href="https://github.com/getpelican/pelican/tree/master/pelican/themes">themes
directory</a>. The <code>THEME</code> setting in <code>penicanconf.py</code>
can be used to set a theme explicitly:</p>
<pre><code>THEME = 'simple'
</code></pre>
<p>Alternatively the <code>-t</code> option can be used when the <code>pelican</code> command is run:</p>
<pre><code>pelican -t some_theme -r $INPUTDIR -o $OUTPUTDIR -s $CONFFILE $PELICANOPTS
</code></pre>
<p>The first place you should look for additional themes is
<a href="http://www.pelicanthemes.com/">www.pelicanthemes.com</a>. This provides a quick overview of the
themes in the <a href="https://github.com/getpelican/pelican-themes">pelican-themes repository</a>. To use a
third party theme, just download it and use the <code>THEME</code> setting to point to the
theme directory:</p>
<pre><code>THEME = '/home/user/pelican/themes/example_theme'
</code></pre>
<p><strong>Note</strong>: either absolute or relative paths can be used.</p>
<h3>Using the pelican-themes command</h3>
<p>Pelican comes with a <code>pelican-themes</code> command. This can be used to list
available themes:</p>
<pre><code>$ pelican-themes --list
notmyidea
simple
</code></pre>
<p>It's also possible to install new themes:</p>
<pre><code># Download and unpack a copy of the pelican-themes repo
curl -L -o pelican-themes.tar.gz https://github.com/getpelican/pelican-themes/archive/master.tar.gz
tar xzf pelican-themes.tar.gz

# Install a theme
pelican-themes --install pelican-themes-master/bricks/
</code></pre>
<p>Once a theme is installed it can be referenced by the <code>THEME</code> setting without
requiring a path to the directory. Themes can also be removed using the
<code>--remove</code> option:</p>
<pre><code>pelican-themes --remove bricks
</code></pre>
<h2>Theme structure</h2>
<p>Pelican themes are made up of two directories, <code>static</code> and <code>templates</code>. The
<code>templates</code> directory contains <a href="http://jinja.pocoo.org/">Jinja</a> templates which are used to
create HTML output; and the <code>static</code> directory contains any supporting static
content such as style sheets or images.</p>
<p>The <a href="http://docs.getpelican.com/en/stable/themes.html">Pelican docs on creating themes</a> list the following
structure:</p>
<pre><code>+-- static
¦   +-- css
¦   +-- images
+-- templates
    +-- archives.html         // to display archives
    +-- period_archives.html  // to display time-period archives
    +-- article.html          // processed for each article
    +-- author.html           // processed for each author
    +-- authors.html          // must list all the authors
    +-- categories.html       // must list all the categories
    +-- category.html         // processed for each category
    +-- index.html            // the index (list all the articles)
    +-- page.html             // processed for each page
    +-- tag.html              // processed for each tag
    +-- tags.html             // must list all the tags. Can be a tag cloud.
</code></pre>
<p>However you can get away with a subset of the templates above if you're not
using a particular feature. For example if you've set <code>ARCHIVES_SAVE_AS = ''</code>
the <code>archives.html</code> template will not be required.</p>
<h2>Creating a custom theme</h2>
<p>The <a href="http://docs.getpelican.com/en/stable/themes.html">Pelican docs</a> on creating themes suggest starting with
the <a href="https://github.com/getpelican/pelican/tree/master/pelican/themes/simple">"simple" theme</a> . For the example in this post I'm
going to run through an even more straightforward example which just covers the
<code>index.html</code> and <code>article.html</code> templates. However you may want to dives
straight into the <code>simple</code> theme if you're already happy with Jinja templates.</p>
<h3>Pelican config</h3>
<p>Initially it's often useful to focus on a subset of the require templates. The
config below disables the tag, author, category, and archive pages generated by
Pelican, and sets the theme to <code>custom</code>:</p>
<pre><code>ARCHIVES_SAVE_AS = ''
AUTHOR_SAVE_AS = ''
AUTHORS_SAVE_AS = ''
CATEGORY_SAVE_AS = ''
CATEGORIES_SAVE_AS = ''
TAGS_SAVE_AS = ''

THEME = 'custom'
</code></pre>
<p><strong>Note</strong>: interestingly <code>CATEGORY_SAVE_AS</code> and <code>AUTHOR_SAVE_AS</code> will both cause
errors if they are set to <code>None</code>.</p>
<h3>Folder structure</h3>
<p>Running the following commands will set up an initial folder structure:</p>
<pre><code>mkdir -p custom/{templates,static/css}
touch custom/templates/{index,article}.html
touch custom/static/css/main.css
</code></pre>
<p>The resulting structure should look something like this:</p>
<pre><code>+-- custom
    +-- static
    |   +-- css
    |       +-- main.css
    +-- templates
        +-- article.html
        +-- index.html
</code></pre>
<p>From here it should be possible to run Pelican and produce output similar to
the following:</p>
<pre><code>    +-- theme
    |   +-- css
    |       +-- main.css
    +-- hello-world.html
    +-- index.html
</code></pre>
<p><strong>Note</strong>: the generated files will initially be empty until the templates are
updated.</p>
<h3>Article template</h3>
<p>A very simple article template might look something like this:</p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;title&gt;{{ article.title }}&lt;/title&gt;
  &lt;meta charset="utf-8" /&gt;
  &lt;link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/main.css"&gt;
&lt;/head&gt;
&lt;body&gt;
  {{ article.content }}
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p>Variables inside <code>{{ }}</code> will be replaced with content by Pelican. Variables
such as <code>article.title</code> are taken from the article metadata, and
<code>THEME_STATIC_DIR</code> is taken from the Pelican configuration file. The <a href="http://docs.getpelican.com/en/stable/themes.html#article">Pelican
docs</a> give more detail on available article
attributes.</p>
<h3>Index template</h3>
<p>An index template that lists available articles could look something like this:</p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;title&gt;{{ SITENAME }}&lt;/title&gt;
  &lt;meta charset="utf-8" /&gt;
  &lt;link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/main.css"&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;h1&gt;Articles&lt;/h1&gt;
  &lt;ul&gt;
{% for article in articles_page.object_list %}
    &lt;li&gt;&lt;a href="/{{ article.url }}"&gt;{{ article.title }}&lt;/a&gt; &lt;/li&gt;
{% endfor %}
  &lt;/ul&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p>Code inside <code>{% %}</code> will be run when the template is rendered and will not be
present in the final output. Again the <a href="http://docs.getpelican.com/en/stable/themes.html#index-html">Pelican theme
docs</a> have more info on available variables.</p>
<h3>Template inheritance</h3>
<p>The two templates above have a lot of shared content. To avoid duplication
templates can be extended. The first thing to do is setup a base template
called <code>templates/base.html</code> with content similar to the following:</p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;title&gt;{% block title %}{{ SITENAME }}{% endblock %}&lt;/title&gt;
  &lt;meta charset="utf-8" /&gt;
  &lt;link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/main.css"&gt;
&lt;/head&gt;
&lt;body&gt;
{% block content %}
{% endblock %}
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p>The <code>block</code> sections are used to mark content which can be overridden by
templates which extend the base. It's worth noting that blocks can have
defaults, for example the title above defaults to the value of <code>SITENAME</code>.</p>
<p>The article template above can now be changed to something similar to the
following so that it extends the base template:</p>
<pre><code>{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}
{% block content %}
  {{ article.content }}
{% endblock %}
</code></pre>
<p>The index template can also be simplified in a similar manner:</p>
<pre><code>{% extends "base.html" %}

{% block content %}
  &lt;h1&gt;Articles&lt;/h1&gt;
  &lt;ul&gt;
{% for article in articles_page.object_list %}
    &lt;li&gt;&lt;a href="/{{ article.url }}"&gt;{{ article.title }}&lt;/a&gt; &lt;/li&gt;
{% endfor %}
  &lt;/ul&gt;
{% endblock %}
</code></pre>
  </article>
  <footer class="footer pure-u-1 pure-u-md-3-4">
    <hr />
    <small>
      Copyright &copy; 2025 Floating Octothorpe. Except where
      otherwise noted, content on this site is licensed under a
      <a rel="license"
         href="https://creativecommons.org/licenses/by/4.0/">Creative Commons
          Attribution 4.0 License</a>.
    </small>
  </footer>
</body>
</html>